<div class="container">
  <h1>Home</h1>

  <div ng-show="images" class="row">
    <div class="col-sm-6 col-md-4"
	 ng-repeat="image in images">
      <div class="thumbnail">
	<img data-ng-src="{{image.itemUrl}}" />
	<div class="caption">
	  <button ng-click="delete(image)" type="button" class="close"><span aria-hidden="true">&times;</span>
	    <span class="sr-only">Close</span></button>
	  {{ image.itemId}}
	  </div>
      </div>
    </div>
  </div>
  
  <div ng-show="!user" class="row">
    <div class="col-md-12">
      <h2>Signup or login to Fotosell</h2>
      <!-- build:[client-id]:dist 584334805450-cjnoa20l1kkmribh1lt13ge8g7lv8u0o -->
      <div google-signin
	   client-id="584334805450-9r0qnll23d506p6dsphlckbkn7bs4qtv"
	   after-signin="signedIn(oauth)"></div>
      <!-- /build -->
    </div>
  </div>
  
  <div ng-show="user" class="row">
    <div class="col-md-12">
      <div file-upload="onFile(files)"></div>
    </div>
  </div>
</div>
